{% extends 'base.html' %}

{% block meta %}
{% load static %}
    <title>Fastrack - Add New Car</title>
    <style>
        /* Add your styles here */
        body {
            font-family: Agrandir, sans-serif;
            background-color: #f0f0f0;
            background-image: url('{% static "formbg.png" %}');
            margin: 20px;
            padding: 20px;
            text-align: center; /* Center the form */
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            margin: 0 auto; /* Center the table */
        }

        /* Adjust other styles as needed */
    </style>
{% endblock meta %}

{% block content %}
<h1>Add New Car</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Car"/>
            </td>
        </tr>
    </table>
</form>

{% endblock content %}
