{% extends 'base.html' %}

{% block meta %}
{% load static %}
    <title>Fastrack - Add New Car</title>
    <style>
        /* Replace this block with the updated CSS */
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.5);
        }

        form table {
            width: 100%;
        }

        form table tr {
            padding: 10px 0;
        }

        form table td {
            padding: 5px 10px;
            text-align: left;
        }

        form table th label {
            color: #fff;
            display: block;
            margin-bottom: 5px;
        }

        form table td input[type="text"],
        form table td input[type="number"] {
            width: calc(100% - 20px);
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #fff;
            background-color: rgba(255, 255, 255, 0.2);
            color: #fff;
        }

        form table td input[type="submit"] {
            width: 100%;
            padding: 15px;
            border-radius: 5px;
            border: none;
            background-color: red;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
        }

        form table td input[type="submit"]:hover {
            background-color: #005bb5;
        }

        body {
            font-family: Agrandir, sans-serif;
            background-color: #f0f0f0;
            background-image: url('{% static "formdark.png" %}');
            margin: 20px;
            padding: 20px;
            text-align: center;
        }

        h1{
            color: #fff;
        }
    </style>
{% endblock meta %}

{% block content %}
<h1>Add New Car</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Car"/>
            </td>
        </tr>
    </table>
</form>

{% endblock content %}
