{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
    <style>
        body {
        background-color: #2d2c2c !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Agrandir, sans-serif;
    }

    .login {
        background-color: black;
        color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .login form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login form input {
        padding: 10px;
        margin: 5px 0;
    }

    .login ul {
        list-style: none;
        padding: 0;
    }

    .login ul li {
        color: red;
    }

    .login .login_btn{
        color: white;
        background-color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .login .login_btn:hover {
        background-color: rgb(48, 48, 48);
        transform: scale(1.05);
    }

    .login .login_btn:active {
        background-color: rgb(48, 48, 48);
        transform: scale(0.95);
    }
    </style>
{% endblock meta %}

{% block content %}

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Not a member yet? <a href="{% url 'appmain:register' %}">Register Now</a>

</div>

{% endblock content %}