{% extends 'base.html' %}

{% block meta %}
{% load static %}
    <title>Fastrack</title>
    <style>
        body {
            font-family: Agrandir, sans-serif;
            background-color: #000;
            background-image: url('{% static "blackbg.jpg" %}');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 20px;
            padding: 20px;
        }

        h1 {
            color: #fff !important;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
            font-size: 16px;
            margin-bottom: 10px;
        }

        h2 {
            color: #735F32 !important;
        }
        
        h3 {
            color: #C69749 !important;
        }

        strong {
            font-weight: bold;
        }

        .add-button {
        font-size: 18px;
        padding: 5px 10px;
        background-color: #282A3A;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.2s;
        text-decoration: none;
        }

        .add-button:hover {
            background-color: #00ff33;
            transform: scale(1.05);
        }

        .add-button:active {
            background-color: #00ff33;
            transform: scale(0.95);
        }

        .logout-button {
            position: fixed;
            top: 20px;
            right: 20px;
        }

        .logout-button button {
            font-size: 18px;
            padding: 10px;
            background-color: #FF0000;
            color: #fff;
            border: none;
            border-radius: 10px;
            transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
            cursor: pointer;
        }

        .logout-button button:hover {
            background-color: #ff3333;
            box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.7);
            transform: scale(1.05);
        }

        .logout-button button:active {
            background-color: #ff3333;
            box-shadow: 0px 0px 15px 8px rgba(255, 0, 0, 0.7);
            transform: scale(0.95);
        }

        .fixed-info{
            top: 0;
            padding: 20px;
            z-index: 1;
        }

        .last-login {
        font-size: 14px;
        color: #fff;
        margin-bottom: 5px;
        }

        .username{
        font-size: 14px;
        color: #fff;
        }

        .car-info {
            background: rgba(255, 255, 255, 0.145);
            border: 2px solid rgba(198, 151, 73, 0.7);
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 20px;
            position: relative;
        }

        .car-info + .car-info{
            margin-top: 20px;
        }

        .car-info .edit-button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding: 5px 8px;
            background-color: #282A3A;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 12px;
        }

        .car-info .edit-button:hover {
            background-color: #1b1d27;
        }

        .car-info .edit-button:active {
            background-color: #1b1d27;
        }



    </style>
{% endblock meta %}

{% block content %}
    <div class="fixed-info">
        <p class="last-login">Sesi terakhir login: {{ last_login }}</p>
        <p class="username">Hello , {{ username }}</p>
    </div>
    <h1>{{ app }}</h1>

    <p>Nama: {{ name }}</p>
    <p>Kelas: {{ class }}</p>

    <h2>Vehicle models in garage:  {{ items_count }}</h2>
    
    <h2>Car Information <a href="{% url 'appmain:create_item' %}" class="add-button">
        Add New Car
    </a></h2>

    {% for item in items %}
    <div class="car-info">
        <h3>
            {{ item.brand }} {{ item.model }}
            <a href="{% url 'appmain:edit_product' item.id %}" class="edit-button">
                Edit
            </a>
            (Quantity: {{ item.amount }})
        </h3>
        <p><strong>Engine Specification:</strong> {{ item.engine_spec }}</p>
    </div>
{% endfor %}


    <a href="{% url 'appmain:logout' %}" class="logout-button">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}

